<article class="<%= 'my-msg' if message.user == current_user %> std-msg" id="<%= message.user.username %>-msg-<%= message.id %>">
  <p><small><%= message.user.username %></small></p>
  <p><%= message.content %></p>
</article>
