<article class="<%= 'my-msg' if message.user == current_user %> std-msg" id="<%= message.user.username %>-msg-<%= message.id %>">
  <h5><%= message.user.username %></h5>
  <p><%= message.content %></p>
</article>
