<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<% @messages.each do |item| %>
  <%= item.user.username %> : <%= item.content %>
<% end %>

<%= simple_form_for [@convo, @message] do |form| %>
  <%= form.input :content %>
  <%= form.submit 'send' %>
<% end %>
