<h1>Messages</h1>
<section data-controller='messages'
         data-messages-convo-value="<%= @convo.id %>"
         data-messages-user-name-value="<%= current_user.username %>">
  <% @messages.each do |item| %>
    <%= render partial: 'message', locals: { message: item } %>
  <% end %>

  <%= simple_form_for [@convo, @message],
      html: { data: { action: "turbo:submit-end->messages#afterSend" } },
      required: true do |form| %>
    <%= form.input :content %>
    <%= form.submit 'send' %>
  <% end %>
</section>
