<%= simple_form_for article do |form| %>
  <%= form.input :title %>
  <%= form.input :category %>
  <%= form.input :content %>
  <label>Allow comments on this article</label>
  <%= form.input :accepts_comments, class: "allow-comments-chechbox" %>
  <%= form.input :status, collection: status_options %>
  <%= form.submit 'save', class: "cta-btn-form" %>
<% end %>
