<section class="article-index-top-section">
  <div class='banner-title-container'>
    <div class='small-index-banner-container'
        style="background-image: linear-gradient(45deg, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2)),
                url('https://cdn.pixabay.com/photo/2019/06/06/13/02/office-scene-4255945_1280.png')">
    </div>

    <div class='article-index-h2-container'>
      <h2>Users Write Awesome Articles Write One Too</h2>
      <p>
        Read up on what users are thinking. Tips and insights are always welcome.
        Join in and write an article.
      </p>
    </div>
    <%= link_to "write an article", new_article_path %>
  </div>
  <div class="top-content-container">
    <h3>most recent articles</h3>
    <% @articles.first(3).each do |item| %>
      <%= link_to article_path(item) do %>
        <h5><%= item.title %></h5>
        <p><small><%= item.content.truncate(25) %></small></p>
      <% end %>
    <% end %>
  </div>
</section>

<section class="article-index-second-section">
  <% @articles.each_with_index do |item, index| %>
    <%= link_to article_path(item), class:"article-index-card" do %>
      <h5><%= item.title %></h5>
      <p><small>by: <%= item.user == current_user ? "you wrote this article!" : item.user.username %></small></p>
      <p><%= item.content.truncate(25) %></p>
      <h5><%= index + 1 %></h5>
    <% end %>
  <% end %>
</section>
