<section class="article-index-top-section green-bg-curvy-section main-form">
  <div class='banner-title-container'>
    <div class='small-index-banner-container'
        style="background-image: linear-gradient(45deg, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2)),
                url('https://picsum.photos/600/300')">
    </div>

    <div class='article-index-h2-container'>
      <h2>Users Write Awesome Articles: Write One Too</h2>
      <p>
        Read up on what users are thinking. Tips and insights are always welcome.
        Join in and write an article.
      </p>
    </div>
    <br>
    <%= link_to "write an article", new_article_path, class: 'cta-btn' %>
  </div>
  <div class="top-content-container">
    <h3>most recent articles</h3>
    <% @articles.first(3).each do |item| %>
      <%= link_to article_path(item) do %>
        <h5><%= item.title %></h5>
        <p><small><%= item.content.truncate(25) %></small></p>
      <% end %>
    <% end %>
  </div>
</section>

<section class="article-index-second-section">
  <% @articles.each_with_index do |item, index| %>
    <%= link_to article_path(item), class:"article-index-card" do %>
      <h4 class="article-index-card-number" style="color: rgba(<%= rand(50..255) %>,<%= rand(50..255) %>,<%= rand(50..255) %>, 0.4)"><%= index + 1 %></h4>
      <h5><%= item.title %></h5>
      <p><small>by: <%= item.user == current_user ? "you wrote this article!" : item.user.username %></small></p>
      <p><%= item.content.truncate(35) %></p>
      <hr>
      <hr>
    <% end %>
  <% end %>
</section>
