<section class="my-article-index green-bg-curvy-section main-form">

  <h2>My articles</h2>
  <p><small><%= @articles.any? ? "You have #{@articles.length} articles" : "You haven't written any articles" %></small></p>

  <% @articles.each_with_index do |item, index| %>
    <%= link_to article_path(item) do %>
      <p><%= index + 1 %>) <%= item.title %> (<%= item.status %>)</p>
    <% end %>
  <% end %>
  <br><br>
  <%= link_to "write an article", new_article_path, class: 'cta-btn' %>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>
