<section class="green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>

  <%= image_tag 'sunglasses.svg', class: 'svg-icon svg-glasses' %>
  <%= image_tag 'flipflops.svg', class: 'svg-icon svg-flipflops' %>
  <h1 class="backwards">PAP</h1>
  <h1>AT</h1>
  <h1>OO</h1>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>

<section class="about-section green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>

  <%= image_tag 'BBQ.svg', class: 'svg-icon svg-bbq' %>
  <article class="about-section-paras">
  <h3>Papatoo is a work in progress</h3>
    <p>
      Papatoo is a blog by a developer and father. The aim is to share some experiences,
      provide an article writing plateform and a couple of features such as <%= link_to 'Locations', locations_path %>.
      Locations is a map and chat feature where you can share a location where you intend to be be for an activity and where you
      are open to people joining you on that activity. For example, as a father, I often go to the park and
      wished it would be possible to share that info with other fathers in the local community so that our kids could
      have a play together.
      However, that could work for dog walking, outdoor exercise, book sharing.... Anything!
    </p>
    <p>
      Anyway, feel free to create an account, write an article, share a location, contact someone on the Locations map!
    </p>
  </article>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>

<section class="side-note-section green-bg-curvy-section main-form">
  <div class="top-right-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>

  <h3>Side note</h3>
  <p>
    Part of the development journey for me has been to write and sometimes rewrite some programmes for fun.
    I still do this today. The thought process is pretty simple : <br>
    <br>
    - Imagine any kind of small feature, web page, bit of functionality <br>
    - Develop a working bersion in a limited time frame (aroung 10 hours) <br>
    - Refactor
    <br>
    The results vary in quality and in use.
    But they have all been massively useful in learning web development
    and fun!
  </p>
  <p>
    Here are the two latest ones I made whilst creating this website. <br>
    <br>
    <p>
      An interactive map that allows people to share their location for an activity they wish to share with
      someone locally, with an inbuilt chat feature so people can exchange messages and start a conversation.
    </p>
    <%= link_to '1 - Locations', locations_path %> <br>
    <br>
    <p>
      This is just a simple page where I intended to add simple web games from time to time.
    </p>
    <%= link_to '2 - Games', games_path %>

  </p>
  <div class="form-style-tile">
    <div class="top-left-curve-compensation"></div>
    <div class="bottom-right-curve-compensation"></div>
  </div>
</section>
