<h3><%= location.user.username %></h3>
<p><%= location.description %></p>
<p>at <%= formated_day_time_date(location.start_time) %></p>
<p>duration: <%=location.duration %> mins</p>
<p><%= location.address.truncate(40) %></p>
<%= button_to 'contact', convos_path, params: { receiver: location.user } if user_signed_in? && current_user != location.user %>
<% if user_signed_in? && policy(location).destroy? %>
  <%= link_to "delete", location_path(location), data: {turbo_method: :delete}%>
<% end %>
