<h1>Locations</h1>
<p id="info">Connect with people near you doing an activity and who are open to share with you</p>

<p>Have an activity you love doing? Don't mind if someone joins you spontaneously?</p>
<p class="text-for-pc">Double click to add a location</p>
<p class="text-for-mobile">On mobile: double tap (double click) to add a location</p>

<section class="location-map-form-container">
  <%# map container %>
  <section class="location-map-container"
    data-controller="location-map"
    data-location-map-markers-value="<%= @markers.to_json %>"
    data-location-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-action="dblclick->location-form#openForm"></section>
  <%# form container %>
  <section class="main-form location-create-form" id="location-create-form-container">
    <h2>Add your own activity and location</h2>
    <%= simple_form_for @location do |form| %>
      <input class="form-control numeric float required" hidden type="number" step="any" name="location[long]" id="location_long">
      <input class="form-control numeric float required" hidden type="number" step="any" name="location[lat]" id="location_lat">
      <%= form.input :description, label: 'Description: (dog walking, park run...)' %>
      <%= form.input :start_time, label: 'When:' %>
      <%= form.input :duration, label: 'Duration in minutes:', input_html: { step: 30, min: 30, max: 1200 } %>
      <%= form.submit class: 'cta-btn-form' %>
    <% end %>
    <br>
    <%= link_to "cancel", locations_path %>
    <%# stylistic div below %>
    <div class="form-style-tile">
      <div class="top-left-curve-compensation"></div>
      <div class="bottom-right-curve-compensation"></div>
    </div>
  </section>
</section>
